<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>智能语音助手</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">

    <div class="tip-root" :class="{'reverse': reverse}" @mouseleave="hanleMouseLeave"
      @mouseenter.native="hanleMouseEnter" @touchstart.native="hanleMouseEnter" @touchend="hanleMouseLeave">
      <div class="tip-inner">
        <div class="input-message" v-show="!isRecording && !isStopRecording">
          {{topmessage}}
        </div>
        <div class="input-vedio" v-show="isRecording || isStopRecording || isFirst" @click="userStopRecording">
          <canvas ref="waveCanvas" class="visualizer "></canvas>
        </div>
        <div class="input-container" v-show="!isRecording && !isStopRecording && !isFirst">
          <input v-model="userInput" :placeholder="placeholdertext" @keyup.enter="sendMessage" @click="handleMouseDown"
            class="input-field">
          </input>

          <button @click="sendMessage" class="send-button">
            <img src="../../assets/send.svg" alt="发送" class="btn-icon">
          </button>
          <button v-show="!isRecording && !isStopRecording " @click="toggleRecording" class="send-button">
            <img v-show="isCanRecording" src="../../assets/voice.svg" alt="语音" class="btn-icon">
            <img v-show="!isCanRecording" src="../../assets/unvoice.svg" alt="语音" class="btn-icon">
          </button>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>