html {
  background-color: #002fa7;
  overflow: -moz-hidden-unscrollable;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
  font-size: 12px;
}

.wrap {
  color: #ffffff;
  /* margin-top: 10px; */
  padding: 10px;
}
.content {


}