<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>提示</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">
    <div class="tip-root" @mouseleave="hanleMouseLeave" @mouseenter.native="hanleMouseEnter"  @click="userStopRecording">
      <!-- <img v-show="!showtext && !showinput" src="../../assets/vedio.gif" @click="changeInput" width="250" height="40">
      <p v-show="showtext && !showinput" class="content">{{tipText}}</p>
      <div v-show="showinput" class="input-container">
        <input v-model="userInput" placeholder="输入消息..." @keyup.enter="sendMessage" class="input-field"></input>
        <button @click="sendMessage" class="send-button">发送</button>
      </div> -->

      <div  v-show="isRecording || isStopRecording || isFirst">
        <canvas ref="waveCanvas" class="visualizer " ></canvas>
      </div>

      <div class="input-container" v-show="!isRecording && !isStopRecording && !isFirst">
        <input v-model="userInput" :placeholder="placeholdertext" @keyup.enter="sendMessage" @click="handleMouseDown"  class="input-field">
        </input>

        <button @click="sendMessage" v-show="!isruning" class="send-button">
          <img src="../../assets/send.svg" alt="发送" class="btn-icon">
        </button>
        <button v-show="!isRecording && !isStopRecording && !isruning" @click="toggleRecording" @click="toggleRecording"
          class="send-button">
          <img v-show="isCanRecording" src="../../assets/voice.svg" alt="语音" class="btn-icon">
          <img v-show="!isCanRecording" src="../../assets/unvoice.svg" alt="语音" class="btn-icon">
        </button>
        <img v-show="isRecording || isStopRecording" src="../../assets/vedio.gif" @click="toggleRecording" width="44"
          height="28">
      </div>
    </div>
  </div>
  <script src="./index.js"></script>
</body>

</html>