<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>悬浮球</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">
    <!-- <div class="warp" @mouseup="handleMouseUp" @mousedown="handleMouseDown" @mouseenter="showMore"
      @mouseleave="hideMore" ref="draggableElement"> -->
    <div class="warp" @mousedown="handleMouseDown" ref="draggableElement"
      :style="{opacity: opacity}">

      <div class="main-container">
        <img draggable="false" src="../../assets/robot.png" :style="imageStyle" @mouseenter.native="hanleMouseEnter"
          @mouseleave="hanleMouseLeave">
      </div>

    </div>
  </div>
  <script src="./index.js"></script>
</body>

</html>