<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>对话框</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">
    <div class="wrap">
      <div class="list-container">
        <div class="todo-list">
          <div class="list-title">待完成</div>
          <div class="todo-item" v-for="(item,index) in todoList">

            <div class="main-content">
              <div class="content">{{item.content}}</div>
            </div>
          </div>
        </div>
       
      </div>
  
      <div class="add-btn" @click="showForm(true)">
        <img src="../../assets/add.png">
      </div>
    </div>
  </div>
  <script src="./index.js"></script>
</body>

</html>