<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>对话框</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">
    <div class="chatbot-container">
      <div class="custom-toolbar">
        <div class="close-btn" @click="handleWindowClose">x</div>
      </div>

      <div class="messages">
        <!-- <div class="message bot" style="width: 475px;">
          <div class="message-content" v-html="dfmessage"></div>
        </div> -->
        <div v-for="(message, index) in messages" :key="index" class="message"
          :class="[ { 'reverse': reverse },message.type]">
          <!-- <div class="message-content">
            {{ message.text }}
          </div> -->
          <div class="message-content" v-html="formatText(message)"></div>
        </div>
      </div>

      <!-- 输入框 -->
      <div class="input-container">
        <input v-model="userInput" :placeholder="placeholdertext" @mousedown="handleMouseDown" @keyup.enter="sendMessage" class="input-field">
        </input>
        <button @click="sendMessage" class="send-button">发送</button>
        <button v-show="!isRecording" @click="toggleRecording" class="send-button">语音</button>
        <img v-show="isRecording "  @click="toggleRecording" src="../../assets/vedio.gif" width="44" height="28">
      </div>
    </div>

  </div>
  <script src="./index.js"></script>
</body>

</html>